@import "tailwindcss";

.swiper-slide {
  opacity: 0.4;
  transform: scale(0.82);
  transition: all 0.4s ease;
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1);
}

.swiper-pagination {
  margin-top: 20px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #d1d5db;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #7c3aed;
}